.chats {
    width: calc(1920px - 443.44px);
    height: 100vh;


    &__containerPerfil {

        background-color: rgba(211, 210, 210, 0.63);
        height: 70px;
        display: flex;
        align-items: center;
        padding-left: 12px;
    }

    &__perfil {
        background-color: white;
        width: 55px;
        height: 55px;
        border-radius: 50px;
    }

    &__infoUsuario {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        padding: 5px;
        margin: 8px 0 0 8px;


        &p,
        h3 {
            margin: 0;
            padding: 0;
        }
    }

    &__containerMensajes {
        display: flex;
        flex-direction: column;
        background-image: url('../../login/img/Default\ WhatsApp\ background\ for\ people\ who\ lost\ it_\ Requested\ by\ u_Marvin_der_kuhle.jpeg');
        height: calc(100vh - 70px);
    }

    &__listaMensajes {

        height: calc(100vh - 140px);
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        padding: 30px;

    }

    &__mensaje {
        margin: 15px;
        width: 600px;
        border-radius: 12px;
        padding: 0 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;

    }

    &__formulario {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

    }

    &__input {
        width: 90%;
        height: 70px;
        padding: 0 5%;
        background-color: rgb(226, 224, 224);
    }

    &__buscador {
        margin: 10px auto;
        padding: 8px;
        width: 70%;
        height: 25px;
        border-radius: 12px;
        border: none;
        font-size: 16px;
        text-align: center;
    }



    &__listaMensajesEnviador {
        display: grid;
        justify-content: flex-end;
        flex-direction: column;

    }
}