@mixin centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaChats {

    @include centrar();
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    height: 12vh;

    &__li {
        display: flex;
        width: 100%;
        padding: 5px;
        border-bottom: solid 1px gray;
        &:hover{
            background-color: rgba(177, 175, 175, 0.582)
        }
    }

    &__link {
        display: flex;
        width: 100%;
        text-decoration: none;
        color: black;

    }

    &__perfil {
        width: 55px;
        height: 55px;
        border-radius: 50px;
        margin-left: 15px;
        background-color: white;
    }


    &__data {
        width: 70%;
        height: 100%;
        padding: 0 10px;
    }

    &__info {
        @include centrar();
        justify-content: space-between;

    }

}